<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <button
      type="button"
      class="btn btn-success"
      data-toggle="modal"
      data-target="#addData"
    >
      <h6 class="m-0 font-weight-bold text-white">
        <i class="fa fa-plus text-xs mr-1"></i> Item
      </h6>
    </button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th class="text-center">No</th>
            <th class="text-center">Name</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach((val, i) => { %>
          <tr>
            <td class="text-center"><%= i+1 %></td>
            <td><%= val.name %></td>
            <td class="d-flex justify-content-center align-items-center">
              <button
                onclick="editData(this)"
                data-id="<%= val.id %>"
                data-name="<%= val.name %>"
                class="btn btn-sm btn-warning mr-2"
              >
                <i class="fa fa-edit"></i>
              </button>
              <form
                action="/admin/deleteCategory/<%= val.id %>?_method=DELETE"
                method="POST"
                id="formDelete"
              >
                <button
                  class="btn btn-sm btn-danger"
                  type="button"
                  onclick="deleteData(this)"
                >
                  <i class="fa fa-trash-alt"></i>
                </button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
