<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <button
      type="button"
      class="btn btn-success"
      data-toggle="modal"
      data-target="#addData"
    >
      <h6 class="m-0 font-weight-bold text-white">
        <i class="fa fa-plus text-xs mr-1"></i> Item
      </h6>
    </button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th class="text-center">No</th>
            <th class="text-center">Nama Bank</th>
            <th class="text-center">Nomor Rekening</th>
            <th class="text-center">Nama Penerima</th>
            <th class="text-center">Gambar</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach((val, i) => { %>
          <tr>
            <td class="text-center"><%= i + 1 %></td>
            <td><%= val.nameBank %></td>
            <td class="text-center"><%= val.noRekening %></td>
            <td><%= val.name %></td>
            <td class="text-center">
              <div class="w-100 d-flex justify-content-center">
                <img
                  src="/<%= val.imageUrl %>"
                  class="img-fluid border"
                  style="max-width: 100px; max-height: 60px"
                />
              </div>
            </td>
            <td class="text-center align-middle">
              <div class="d-flex justify-content-center align-items-center">
                <button
                  onclick="editData(this)"
                  data-id="<%= val.id %>"
                  data-namebank="<%= val.nameBank %>"
                  data-norekening="<%= val.noRekening %>"
                  data-name="<%= val.name %>"
                  data-gambar="<%= val.imageUrl %>"
                  class="btn btn-sm btn-warning m-2"
                >
                  <i class="fa fa-edit"></i>
                </button>
                <form
                  action="/admin/deleteBank/<%= val.id %>?_method=DELETE"
                  method="POST"
                  id="formDelete"
                >
                  <button
                    class="btn btn-sm btn-danger"
                    type="button"
                    onclick="deleteData(this)"
                  >
                    <i class="fa fa-trash-alt"></i>
                  </button>
                </form>
              </div>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
