<%- layout('../../../parts/layout') %> <% block('title', 'Halan Halan | Activity Item') %> <% block('sidebar', partial('../../../parts/sidebar'))
%> <% block('navbar', partial('../../../parts/navbar')) %>

<div class="container-fluid">
  <% if(message != ""){ %>
  <div
    class="alert alert-<%= status %> alert-dismissible fade show"
    role="alert"
  >
    <strong><%= message %></strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true" class="text-white" >&times;</span>
    </button>
  </div>
  <% } %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/admin/item">Item</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        Activity
      </li>
    </ol>
  </nav>
  <h1 class="h3 mb-4 text-gray-800">Menu Activity Item</h1>
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-6"><%- partial('add-activity') %></div>
        <div class="col-6"><%- partial('table-activity') %></div>
      </div>
    </div>
  </div>
</div>

<%- partial('edit-activity_modal') %> <% block('footer',
partial('../../../parts/footer')) %>

<script src="/javascripts/easy-number-separator.js"></script>

<script>
  function showDetail(id, nama, qty, gambar) {
    var image = "";
    $(".id-update").val(id);
    $(".judul-update").val(nama);
    $(".jumlah-update").val(qty);
    image += `<img src="/${gambar}" alt="Gambar" class="img-fluid border rounded mb-2 p-2" />`;
    $("#gambarAwal").html(image);
    $("#showEditData").modal("show");
  }

  const fileUpload = document.getElementById("gambar");
  fileUpload.addEventListener("change", (event) => {
    const prevImage = document.getElementById("previewImage");
    var image = ``;
    for (let index = 0; index < event.target.files.length; index++) {
      const element = event.target.files[index];
      image += `
        <img style="max-height: 300px;" class="img-fluid p-1 position-relative border rounded" src="${URL.createObjectURL(
          event.target.files[index]
        )}" alt="file${index + 1}">`;
    }
    if (event.target.files.length > 0) {
      prevImage.innerHTML = image;
      prevImage.removeAttribute("hidden");
    } else {
      prevImage.setAttribute("hidden", true);
    }
  });

  const fileUploadUpdate = document.getElementById("gambar-update");
  fileUploadUpdate.addEventListener("change", (event) => {
    const prevImage = document.getElementById("previewImageUpdate");
    var image = ``;
    for (let index = 0; index < event.target.files.length; index++) {
      const element = event.target.files[index];
      image += `
        <img style="max-height: 300px;" class="img-fluid p-1 position-relative border rounded" src="${URL.createObjectURL(
          event.target.files[index]
        )}" alt="file${index + 1}">`;
    }
    if (event.target.files.length > 0) {
      prevImage.innerHTML = image;
      prevImage.removeAttribute("hidden");
    } else {
      prevImage.setAttribute("hidden", true);
    }
  });

  function deleteData(e) {
    const swalWithBootstrapButtons = Swal.mixin({
      customClass: {
        confirmButton: "btn btn-success ml-2",
        cancelButton: "btn btn-danger mr-2",
      },
      buttonsStyling: false,
    });
    swalWithBootstrapButtons
      .fire({
        title: "Kamu yakin mau hapus data?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes, hapus!",
        cancelButtonText: "No, cancel!",
        reverseButtons: true,
      })
      .then((result) => {
        if (result.isConfirmed) {
          $(e).parent().submit();
        } else if (result.dismiss === Swal.DismissReason.cancel) {
          return false;
        }
      });
  }
</script>
